
body,html {
   width: 100%;
   height: 100%;
   margin: 0px;
   display: flex;
   box-sizing: border-box;


   font-family: Charlie Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
   font-style: normal;
}

div#app {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

#left-pane .active {
    text-decoration: underline;
}

div#left-pane {
    box-shadow: 0px 0px 9px #F4F5F7;
    background: #F4F5F7;
    display: block;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 1px;
}

#left-pane a {
    text-decoration: none;
    color: #000;
}

#left-pane ol {
    list-style: none;
}

#left-pane li {
    font-size: 28px;
    line-height: 2;
    cursor: pointer;
}

div#left-pane ol li {
    display: inline-block;
    padding: 0px 15px;
}

div#resume {
    display: none;
    position: fixed;
    right: 150px;
    top: 15px;
    background: #0052CC;
    border: 1px solid #0052CC;
    color: #F4F5F7;
    font-size: 15px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

div#resume:hover{
    background: #0047B3;
    border: 1px solid #0047B3;
    color: #F4F5F7;
}

span.bg-im{
    background-image:url("/images/bg.jpg")
}

div#right-pane {
    margin: 0px auto;
    font-size: 23px;
    text-align: justify;
    padding: 0% 5% 5% 5%;
}

span.bg-im {
    background-image: url(/images/bg.jpg);
    background-size: 670px;
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 300px;
    opacity: 0.8;
    filter: grayscale(70%);
    box-shadow: 1px 1px 57px grey;
    float: right;
    margin-top: 120px;
    margin-right: 50px;
    margin-left: 50px;
}

.resume > .header {
    background: #0747A6;
    color: rgb(222, 235, 255);
    padding: 12pt 24pt;
    text-align: center;
    font-size: 22px;
    border-radius: 25px;
    margin: 0pt 5pt 0pt 5pt;
    width: 100%;
    height: 50pt;
}

.resume > .info {
    color: rgb(23, 43, 77);
    padding: 3pt 12pt;
    font-size: 12pt;
    text-align: center;
    width: 100%;
}

.resume > .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 50%;
    flex-flow: column;
}
.resume > .content > .section {
    box-sizing: border-box;
    padding: 10pt;
    font-size: 14pt;
}

.resume > .content > .section > .header {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 6pt;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 0cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.resume > .content > .section .lang {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1pt;
}

.resume .skillset > .header {
    font-weight: 600;
    font-size: 12pt;
    width: 100%;
}

.resume .skillset .content .rw {
    display: flex;
    justify-content: space-between;
    padding: 2pt;
}

.resume .skillset .content .rw .outter-bar {
    width: 100pt;
    height: 12pt;
    background: #aaa;
    border: 0px solid #aaa;
    border-radius: 15pt;
}

.resume .skillset .content .rw .inner-bar {
    width: 90pt;
    height: 12pt;
    background: #0747A6;
    border-radius: 15pt;
}

.resume .skillset {
    margin-bottom: 5pt;
}

button.resume-print {
    background: #0747A6;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 3px 4px #aaa;
    cursor: pointer;
    float: right;
}

button.resume-print:hover {
    padding: 12px 35px;
}

.resume-actions {
    margin: 10px 10px;
    min-height: 35px;
}

@page {
    size: A4;
    margin: 0;
}

@media (max-width: 1400px) {
    span.bg-im {
        display: none;
    }
}

@media print {

    div#left-pane{
        display: none;
    }
    div#right-pane {
        margin: 0;
        padding:0;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    
    .resume > .header {
        background: #0747A6;
        color: rgb(222, 235, 255);
        padding: 12pt 24pt;
        text-align: center;
        font-size: 22px;
        border-radius: 25px;
        margin: 0pt 5pt 0pt 5pt;
        width: 100%;
        height: 50pt;
    }
    
    .resume > .info {
        color: rgb(23, 43, 77);
        padding: 3pt 12pt;
        font-size: 12pt;
        text-align: center;
        width: 100%;
    }
    
    .resume > .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 50%;
        flex-flow: column;
    }
    .resume > .content > .section {
        box-sizing: border-box;
        padding: 10pt;
        font-size: 14pt;
    }
    
    .resume > .content > .section > .header {
        font-size: 16pt;
        font-weight: 600;
        margin-bottom: 6pt;
    }
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm;
        margin: 0cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
    }
    
    .resume > .content > .section .lang {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1pt;
    }
    
    .resume .skillset > .header {
        font-weight: 600;
        font-size: 12pt;
        width: 100%;
    }
    
    .resume .skillset .content .rw {
        display: flex;
        justify-content: space-between;
        padding: 2pt;
    }
    
    .resume .skillset .content .rw .outter-bar {
        width: 100pt;
        height: 12pt;
        background: #aaa;
        border: 0px solid #aaa;
        border-radius: 15pt;
    }
    
    .resume .skillset .content .rw .inner-bar {
        width: 90pt;
        height: 12pt;
        background: #0747A6;
        border-radius: 15pt;
    }
    
    .resume .skillset {
        margin-bottom: 5pt;
    }

    .resume-actions {
        display: none;
    }
}

